<% cache do %>
  <header>
    <h1><%= link_to('はてブ毎時ランキング', root_path) %></h1>
  </header>

  <h2>カテゴリ</h2>

  <ul>
    <li><%= link_to('一般', root_path) %></li>
    <% HatebRss::CATEGORY_EN_TO_JA.each do |en, ja| %>
      <li><%= link_to(ja, root_path(category: en)) %></li>
    <% end %>
  </ul>
<% end %>
