/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 */

body {
    margin: 0;
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

li.entry {
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 90%;
    word-wrap: break-word;
}

span.ttl {
    border-bottom: 1px dashed;
}

.category {
    color: white;
    font-size: small;
}
.category-social {
    background-color: #A78358;
}
.category-economics {
    background-color: #A78358;
}
.category-life {
    background-color: #068B71;
}
.category-knowledge {
    background-color: #068B71;
}
.category-it {
    background-color: #00A5DE;
}
.category-fun {
    background-color: #F5AC0F;
}
.category-entertainment {
    background-color: #F5AC0F;
}
.category-game {
    background-color: #F5AC0F;
}

span.bkcnt a {
    font-weight: bold;
    color: #f66;
    text-decoration: underline;
    background-color: #fff0f0;
}

.dsc {
    color: #666666;
    font-size: x-small;
}