<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>はてブ毎時ランキング</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="keywords" content="はてブ,毎時,ランキング">
  <meta name="description" content="はてなブックマーク数を毎時でランキングしています。">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
<%= yield %>
<footer>Created by <a href="http://profile.hatena.ne.jp/rightgo09/">rightgo09</a></footer>
</body>
</html>
